

/* CSS for body  */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #f0d198;
    height: 100vh;
}

/* CSS that deals with both the header and the footer */

header, footer{
    display: flex;
    background-color: #484919;
    padding: 7px;
}

/* CSS that deals mainly with the header  */

header {
    align-items: center;
    justify-content: space-between;
}

header > p {
    font-size: 24px;
    font-weight: bold;
}

img {
    width: 200px;
    height: 200px;
}

.link {
    text-decoration: none;
    
}

a {
    color: #f0d198;
}

/* CSS that deals with the main content of the page  */




