

/* CSS for body  */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #f0d198;
    height: 100vh;
    font-family: 'Playfair Display', 'arial', 'serif';

}

/* CSS that deals with both the header and the footer */

header, footer{
    display: flex;
    background-color: #484919;
}

/* CSS that deals mainly with the header  */

header {
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}



.logo {
    display: flex;
    gap: 40px;
    align-items: center;

}

#logo-header {
    font-size: 38px;
    font-weight: bolder;
}

 #logo-text { /*This is probably the worst way to do this, but it's the only way i know how  */
    position: absolute;
    margin-top: -40px; 
    

}

.logo > img {
    width: 50px;
    height: 50px;
}

img  {
    width: 200px;
    height: 200px;
}

.link {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Playfair Display', 'arial', 'serif';
    
}

.links {
    display: flex;
    gap: 16px;
}

a {
    color: #f0d198;
}

/* CSS that deals with the main content of the page  */


#intro {
    height: 45vh;
    background: #dfa572;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1 {
    font-size: 60px;
}

h1, #about-description {
    color: #484919;
}

#about-pizza {
    margin: 40px;
}

#product {
    height: 45vh;
    background: #bcc49c;
}

#testimonials {
    height: 45vh;
    background: #acb48c;
}

#register {
    height: 40vh;
    background: #bcc49c;
}


footer {
    padding: 20px;
}